<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../css/style.css">
    </head>
    <body>
        <div class="DefaultContainer GlobalContainer">
            <div class="MenuContainer">
                <div id="Menu">
                    Menu
                </div>
            </div>
            
            <div class="DefaultContainer Container1">
                <div class="DefaultContainer Container2">
                    
                    <div class="NewsContainer">
                        <div id="News">
                            <div id="NewsHeader">
                                News and Updates
                            </div>
                            <div id="NewsContent">
                                News Content
                            </div>
                        </div>
                    </div>
                    <div class="DefaultContainer  Container3">
                        <div class="DefaultContainer Container4">
                            <div class="BannerContainer">
                                <div id="Banner">
                                    <img src="../images/banner.jpg" height=100% width=100%/>
                                </div>
                            </div>
                            <div class="ProfileContainer">
                                <div id="Profile">
                                    Profile
                                </div>
                            </div>
                        
                        </div>
                        <div class="ContentContainer">
                            <div id="Content">
                                Content
                            </div>
                        </div>
                    </div>
                </div>
                <div class="FooterContainer">
                    <div id="Footer">
                        Footer
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>